<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--setting max file upload limit to 100 MB (100*1024KB)-->
		<httpRuntime maxRequestLength="102400"/>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="login.aspx"/>
			</files>
		</defaultDocument>
		<staticContent>
			<remove fileExtension=".less"/>
			<mimeMap fileExtension=".less" mimeType="text/css"/>
		</staticContent>
	</system.webServer>
</configuration>
